!!! 5
html
  head
    title Blogsiple
    link(rel='stylesheet', href='/css/deps/bootstrap.min.css')
    link(rel='stylesheet', href='/css/create/midgard-theme/jquery.ui.all.css')
    link(rel='stylesheet', href='/css/create/midgard-toolbar/midgardbar.css')
    link(rel='stylesheet', href='/css/deps/vader/jquery-ui-1.8.16.custom.css')
    link(rel='stylesheet', href='/css/blogsiple.css')
    script(src='/js/create/deps/jquery-1.6.4.min.js')
    script(src='/js/create/deps/jquery-ui-1.8.16.custom.min.js')
    script(src='/js/create/deps/underscore-min.js')
    script(src='/js/create/deps/backbone-min.js')
    script(src='/js/create/deps/vie-min.js')
    script(src='/js/create/deps/modernizr.custom.80485.js')
    script(src='/js/create/deps/hallo/hallo.js')
    script(src='/js/create/deps/hallo/format.js')
    script(src='/js/create/jquery.Midgard.midgardCreate.js')
    script(src='/js/create/jquery.Midgard.midgardEditable.js')
    script(src='/js/create/jquery.Midgard.midgardStorage.js')
    script(src='/js/create/jquery.Midgard.midgardToolbar.js')
    script(src='/js/create/jquery.Midgard.midgardWorkflows.js')
    script(src='/js/editable.js')
  body
    div.container
      div.content
        div.page_header
          h1(property='title') Blogsiple
        !{body}
