!!! 5
html
  head
    title Blogsiple
    link(rel='stylesheet', href='/blogsiple/theme/Vader/jquery-ui-1.8.18.custom.css')
    link(rel='stylesheet', href='/create/css/midgard-theme/jquery.ui.all.css')
    link(rel='stylesheet', href='/create/css/midgard-toolbar/midgardbar.css')
    link(rel='stylesheet', href='/create/css/midgard-notifications/midgardnotif.css')
    link(rel='stylesheet', href='/blogsiple/css/blogsiple.css')
    script(src='/create/deps/jquery-1.6.4.min.js')
    script(src='/create/deps/jquery-ui-1.8.16.custom.min.js')
    script(src='/create/deps/underscore-min.js')
    script(src='/create/deps/backbone-min.js')
    script(src='/create/deps/vie-min.js')
    script(src='/create/deps/modernizr.custom.80485.js')
    script(src='/create/deps/hallo/hallo.js')
    script(src='/create/js/create.js')
    script(src='/blogsiple/js/editable.js')
  body
    div.container
      div.content
        div.page_header
          h1(property='title') Blogsiple
        !{body}
